{block content}
<div class="pristup" style="text-align:center">
<h1><font color="red">K přístupu na požadovanou stránku nemáte dostatečné oprávnění</font></h1>
<img src="{$basePath}/images/stop.png" alt="stop" width="500px" height="500px">
</div>
{* or use {include '../components/form.latte', form => signInForm} *}
