{* This is the welcome page, you can delete it *}

{block content}
<h1>Hlavní strana</h1>
 <img src="{$basePath}/images/hobiti.png" title="Elektronická žákovská knížka" />
		
{/block}


{block head}

{/block}
